/* ======================================================================== */
/* 流光背景 */
/* ======================================================================== */

/* 背景容器 */
.fc_background {
  position: fixed;
  inset: 0;

  overflow: hidden;

  background: #050505;

  z-index: -999;
}

/* 光团 */
.blob {
  position: absolute;

  border-radius: 40% 60% 70% 30% / 30% 30% 70% 70%;

  filter: blur(120px);

  animation:
    morph 12s ease-in-out infinite,
    float1 25s ease-in-out infinite alternate;
}

@keyframes morph {

  0% {
    border-radius:
      40% 60% 70% 30% / 30% 30% 70% 70%;
  }

  50% {
    border-radius:
      60% 40% 30% 70% / 60% 70% 30% 40%;
  }

  100% {
    border-radius:
      30% 70% 60% 40% / 50% 40% 60% 50%;
  }
}

/* 金色橙色 */
.blob1 {
  width: 700px;
  height: 700px;

  background:
    radial-gradient(circle,
      #ffd54f,
      #ff9800 40%,
      #ff4fc3 80%,
      transparent);

  top: -150px;
  right: -100px;

  animation: float1 25s infinite;
}

/* 蓝紫 */
.blob2 {
  width: 900px;
  height: 900px;

  background:
    radial-gradient(circle,
      #6a5cff,
      #3520ff 50%,
      transparent);

  left: -200px;
  top: 100px;

  animation: float2 30s infinite;
}

/* 深蓝 */
.blob3 {
  width: 1000px;
  height: 600px;

  background:
    radial-gradient(ellipse,
      #5640ff,
      #18004a 60%,
      transparent);

  bottom: -150px;
  left: 20%;

  animation: float3 35s infinite;
}

/* 粉紫 */
.blob4 {
  width: 500px;
  height: 500px;

  background:
    radial-gradient(circle,
      #ff6bd6,
      #8b3dff 60%,
      transparent);

  bottom: 0;
  right: 15%;

  animation: float4 28s infinite;
}

/* 动画 */
/* 
@keyframes float1 {
    from {
        transform:
            translate(0, 0) scale(1) rotate(0deg);
    }

    to {
        transform:
            translate(-150px, 100px) scale(1.25) rotate(20deg);
    }
}

@keyframes float2 {
    from {
        transform:
            translate(0, 0) scale(1);
    }

    to {
        transform:
            translate(200px, -100px) scale(1.15);
    }
}

@keyframes float3 {
    from {
        transform:
            translate(0, 0) rotate(0deg);
    }

    to {
        transform:
            translate(-100px, -80px) rotate(15deg);
    }
}

@keyframes float4 {
    from {
        transform:
            translate(0, 0) scale(1);
    }

    to {
        transform:
            translate(80px, -120px) scale(1.3);
    }
} */