{% extends 'base.html' %}
{% load static %}
{% block title %}
  首页
{% endblock %}

{% block content %}
  {% if active_nav == 'home' %}
    {% component 'pc_home' %}
    {% endcomponent %}
  {% elif active_nav == 'movie' or active_nav == 'tv' or active_nav == 'animation' or active_nav == 'animated_film' or active_nav == 'documentary' %}
    {% component 'pc_media_list' %}
    {% endcomponent %}
  {% elif active_nav == 'category' %}
    {% component 'pc_category_list' %}
    {% endcomponent %}
  {% endif %}
{% endblock %}
