{% load query %}
<div class="filter-panel">
  <div class="filter-group">
    <span class="filter-label">类别：</span>
    <a href="{% url_set type='全部' %}"
      class="{% if filters.type == '全部' or filters.type == '' %}active{% endif %}">全部</a>
    {% for g in all_types %}
    <a href="{% url_set type=g page=1 %}" class="{% if filters.type == g %}active{% endif %}">{{ g }}</a>
    {% endfor %}
  </div>

  <div class="filter-group">
    <span class="filter-label">国家/地区：</span>
    <a href="{% url_set country='全部' %}"
      class="{% if filters.country == '全部' or filters.country == '' %}active{% endif %}">全部</a>
    {% for g in all_countries %}
    <a href="{% url_set country=g page=1 %}" class="{% if filters.country == g %}active{% endif %}">{{ g }}</a>
    {% endfor %}
  </div>

  <div class="filter-group">
    <span class="filter-label">类型：</span>
    <a href="{% url_set genre='全部' %}"
      class="{% if filters.genre == '全部' or filters.genre == '' %}active{% endif %}">全部</a>
    {% for g in all_genres %}
    <a href="{% url_set genre=g page=1 %}" class="{% if filters.genre == g %}active{% endif %}">{{ g }}</a>
    {% endfor %}
  </div>

  <div class="filter-group">
    <span class="filter-label">年份：</span>
    <a href="{% url_set year='全部' %}"
      class="{% if filters.year == '全部' or filters.year == '' %}active{% endif %}">全部</a>
    {% for g in all_years %}
    <a href="{% url_set year=g page=1 %}" class="{% if filters.year == g %}active{% endif %}">{{ g }}</a>
    {% endfor %}
  </div>
</div>