{% load component_tags %}
{% comment %} {% include 'media_view/components/fc_navbar/fc_navbar.html' %} {% endcomment %}
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        暗影室 | Shadow Room
      {% endblock %}| 暗影室 | Shadow Room
    </title>
    {% component_css_dependencies %}
    {% block extra_head %}

    {% endblock %}
  </head>

  <body>
    {% component_js_dependencies %}
    {% comment %} {% component 'fc_background' %}
    {% endcomponent %} {% endcomment %}
    <div class="wrapper">
      {% component 'fc_navbar' %}
      {% endcomponent %}
      {% block content %}

      {% endblock %}
      <footer class="footer">
        <div class="container">本站所有视频和图片均来自互联网收集而来，版权归原创者所有，本网站只提供web页面服务，并不提供资源存储，也不参与录制、上传. 若本站收录的节目无意侵犯了贵司版权，请发邮件至hifunny0817#gmail.com （#换成@）</div>
      </footer>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_scripts %}

    {% endblock %}
  </body>
</html>
